<html>
	<body>
		<h1>Batman vs Superman ¿Cual es tu super heroe favorito?</h1>
		<p>Find me in app/views/pages/batmanvssuper.html.erb</p>
		<a href="<%= pages_batman_path %>"> 
			<div id="batman">
			</div>
		</a>

		<a href="<%= pages_superman_path %>"> 
			<div id="superman">
			</div>
		</a>
<div id="res">	
	<p id = "vota">Vota por tu superheroe!</p>
	<%= form_for @heroe do |f| %>
 	<%= f.label :NameHeroe %>
  	<%= f.text_field :name %>
  	<%= f.label :email %>
  	<%= f.text_field :email %>
  	<%= f.submit %>
	<% end %>
</div>
	</body>
</html>